@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #4351ee;
  --secondary: #005577;
  --danger:#ef233c;
}

body {
  background-color: #826b58;
  color: #fff;
  line-height: 1.6;
  min-height: 100vh;
}

header {
  background: #685341;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: rgb(26, 26, 26);
  font-size: 2rem;
  font-weight: 700;
}

nav a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover,
nav a.active {
  color: rgb(26, 26, 26);
}

section {
  padding: 5rem 2rem;
  margin-top: 4rem;
}

#weather h2{text-align:center;}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home-img img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid rgb(26, 26, 26);
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 2rem;
}

.typing-text {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.home-content p {
  font-size: 1rem;
}

.social-icons a {
  margin: 0.3rem 0;
  color:rgb(26, 26, 26);
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: white;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: none;
  color: rgb(26, 26, 26);
  border: 2px solid rgb(26, 26, 26);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn:hover {
  background: whitesmoke;
  color: #000;
}

h2 {
  color: rgb(26, 26, 26);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
h4{
    color:rgb(26, 26, 26);
}

ul {
  list-style: square inside;
  padding-left: 1rem;
}

ul li {
  margin: 0.5rem 0;
}

#weather{
  background-color: #73D7FF;
  color: #000;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  padding: 5px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgb(0, 0, 0.1) ;
  overflow: hidden;
  position: relative;
}

.search-container{
  display: flex;
  padding:20px ;
  background: rgba(255, 255, 255, 0.3);
}

#city-input{
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

button{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50px;
  margin-left: 10px;
  background: #0072A0;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  background: var(--secondary);
  transform: scale(1.05)
}

.weather-display{
  padding: 20px;
}

.current-weather{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.weather-main{
  flex: 1;
  font-weight: 700;
  margin-bottom: 5px;
}

.location{
  font-size: 1.2rem;
}

.date{
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.temperature{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom:5px;
}

.condition{
  font-size: 1.2rem;
  color: #555;
}

.weather-icon img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.weather-details{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.detail{
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  display:flex;
  align-items: center;
}

.detail i{
  margin-right: 10px;
  color: var(--primary)
}

.forecast{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
}

.forecast-item{
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.forecast-day{
  font-weight: 400;
  margin-bottom: 5px;
}

.forecast-icon img{
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

.forecast-temp{
  display: flex;
  justify-content: space-around;
}

.forecast-high{
  color: var(--danger);
  font-weight: 600;
}
 .forecast-low{
  color: var(--primary);
 }

 .loading{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
 }

 .loader{
  width: 50px;
  height: 50px;
  border: 5px solid#ddd;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
 }

 @keyframes spin{
  to{
    transform: rotate(360deg);
  }
 }

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .current-weather {
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    margin-top: 20px;
  }

  .temperature {
    font-size: 2.5rem;
  }

  nav {
    margin-top: 1rem;
  }

  .home {
    flex-direction: column;
  }

  .home-img img {
    width: 180px;
  }
}


